# SolidWorks yedek ve geçici dosyaları
~$*
*.bak
*.sldbak
*.swb
*.dwl
*.dwl2
swxJRNL.*
Backup/
"SOLIDWORKS Backup"/

# Dilimleyici çıktıları
*.gcode
*.gcode.3mf

# İşletim sistemi
Thumbs.db
desktop.ini
.DS_Store
